<%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %> 
    <main class="">
        <div class="container">
                <div class="row">
                    <div class="col s12 m6  center">
                        <form method="POST" action="/login" class="form-login">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input required type="text" class="validate" name="email" id="email"/>
                                    <label for="email">email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input required type="password" class="validate" name="password" id="password"/>
                                    <label for="password">password</label>
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="col s12">
                                    <button type="submit" class="btn blue waves-effect waves-dark">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %> 