
.prod{
    height: 12rem;
}
.nav-wrapper{
    padding:0  2rem;
}

::-webkit-scrollbar{
    display: none;
}

.price{
    font-size: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
}


.card-image{
    height: 15rem;
    /* overflow: hidden; */
}
.card-content{
    position: relative;
}
main{
    padding: 2rem 5rem;
}